
{% extends 'layout/head.html' %}
{% block title %}DETAILS{% endblock %}
{% load static %}
{% block breadcrumb %}
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a class = "lien" href="{% url 'accueil' %}">Accueil</a></li>
                    <li class="breadcrumb-item"><a class="lien" href="{% url 'KIOSQUE:kiosque' %}">LIVRES</a></li>
    			<li class="breadcrumb-item active">DETAILS</li>
				<li class="breadcrumb-item active">{{ livre.titre }}</li>
  			</ol>
		</nav>
		{% endblock %}
{% block body %}
	{% include 'KIOSQUE/recherche_form.html' %}
	<div class="tableau">
		<h3>{{ livre.titre }}</h3>
	</div>
	<div class="btn table-primary bouton_details tableau1">
		<img class="kiosque-img" src="{{ livre.couverture }}" width="75%" height="75%">
	</div>
	<br>
	<div>
		<h4>{{ livre.auteur }}</h4>
	</div>
    <div>
        <h4>{{ livre.editeur }}</h4>
    </div>
	<div>
		<h4>{{ livre.genre }}</h4>
	</div>
    <div>
        <h4>{{ livre.publication }}</h4>
    </div>
	<div>
		<h4>{{ livre.resume }}</h4>
	</div>
{% endblock %}