{% extends 'layout/head.html' %}
{% block title %}KIOSQUE{% endblock %}
{% load static %}
{% block breadcrumb %}
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a class = "lien" href="{% url 'accueil' %}">Accueil</a></li>
    			<li class="breadcrumb-item active">KIOSQUE</li>
  			</ol>
		</nav>
		{% endblock %}
{% block body %}
	{% include 'KIOSQUE/recherche_form.html' %}
	{% for kiosque in page_obj %}
	<span>
		<a href="details/{{kiosque.id}}">
			<button class="btn table-primary bouton">
				<h2>{{ kiosque.titre }}</h2>
				<div>
					<img class="kiosque-img" src="{{ kiosque.couverture }}" width="100%" height="100%">
				</div>
				<br>
			</button>
		</a>
	</span>
	{% endfor %}

	{% include 'KIOSQUE/pagination.html' %}
	page des livres !
{% endblock %}