{% load static %}
<div class="center tableau3">
    <form class="text-center" action="{% url 'KIOSQUE:recherche' %}" method="get" accept-charset="utf-8">
      <div class="form-group">
          <label for="searchForm"><h3>Chercher un livre</h3></label>
          <input id="searchForm" class="form-control" name="query">
          
          <span><button class="btn btn-primary" method="."><h5>Trouvez le livre de vos rêves en tapant son nom, auteur.&nbsp;&nbsp;<i class="fas fa-search"></i></h5></button></span>
      </div>
    </form>
</div>