{% extends 'layout/head.html' %}
{% block title %}RECHERCHE{% endblock %}
{% load static %}
{% block breadcrumb %}
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a class = "lien" href="{% url 'accueil' %}">Accueil</a></li>
				<li class="breadcrumb-item"><a class="lien" href="{% url 'KIOSQUE:kiosque' %}">KIOSQUE</a></li>
    			<li class="breadcrumb-item active">RECHERCHE</li>
  			</ol>
		</nav>
		{% endblock %}
{% block body %}
{% include 'KIOSQUE/recherche_form.html' %}
	<center><h4>{{ results }}</h4></center>
	{% for kiosque in page_obj %}
	<span>
		<a href="../details/{{kiosque.id}}">
			<button class="btn table-primary bouton">
				<h2>{{ kiosque.titre }}</h2>
				<div>
					<img class="kiosque-img img-responsive" src="{{ kiosque.couverture }}" width="100%" height="100%">
				</div>
			</button>
		</a>
	</span>
	{% endfor %}

	{% include 'KIOSQUE/pagination.html' %}
{% endblock %}